################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PackFileManager/v16
/AutoUpdater/bin/Debug
/AutoUpdater/obj/Debug
/CommonDialogs/obj/Debug
/CommonDialogs/bin/Debug
/Common/obj/Debug
/Common/bin/Debug
/CommonUtilities/obj/Debug
/CommonUtilities/bin/Debug
/DbEntryCorrection/obj/Debug
/DbEntryCorrection/bin/Debug
/DBEditorTableControl/obj/Debug
/DBEditorTableControl/bin
/DbDecoding/obj/Debug
/DbDecoding/bin/Debug
/DecodeTool/bin/Debug
/DbSql/obj/Debug
/DbSql/bin/Debug
/DecodeTool/obj/Debug
/EsfControl/obj/Debug
/EsfControl/bin/Debug
/EsfLibrary/obj/Debug
/EsfLibrary/bin/Debug
/Filetypes/obj/Debug
/Filetypes/bin/Debug
/PackFileManager/bin/Debug
/Library/FreeImage/obj/Debug
/Library/FreeImage/bin/Debug
/Library/7zip/obj/Debug
/Library/7zip/bin/Debug
/PackFileManager/_UpgradeReport_Files
/PackFileManager/_ReSharper.PackFileManager
/PackFileTest/bin/Debug
/PackFileTest/obj/Debug
/PfmCL/obj/Debug
/PfmCL/bin/Debug
/PackFileManager/obj/Debug
/Release Build/obj/Debug
/SchemaIntegration/bin/Debug
/SchemaIntegration/obj/Debug
/DBEditorTableControl/obj
/.vs
/SchemaIntegration/obj/Release
/ObjectListView/obj
/MMS/obj/Release
/Library/FreeImage/obj/Release
/EditSF/obj
/EditSF/CameraFix/obj
/CommonUtilities/obj/Release
/AutoUpdater/obj/Release
/CommonDialogs/obj/Release
/PackFileManager/obj/Release
/PackFileManager/obj
